@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 380px;
  background-color: #000;
  margin: auto;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  width: 360px;
  min-height: 200px;
  max-height: 600px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888888aa;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
